In [2]:
import pandas as pd
import glob, os
pathdir = "./files_batch_1,2/"
files = glob.glob(os.path.join(pathdir, "*/*"))

all_files = []
for i in files:
    all_files.append(pd.read_csv(i))

df = pd.concat(all_files)

In [1]:
%history -g -f filename

In [6]:
df.head()
df.info
df['label'].value_counts()

fresh       3667
moldy       3497
humidity    1749
Name: label, dtype: int64

In [142]:
# check the features
for i in df:
    print(i)

seconds
frequency
s1
s2
s3
s4
s5
s6
s7
s8
s9
s10
s11
s12
s13
s14
s15
s16
s17
s18
s19
s20
s21
s22
s23
s24
s25
s26
s27
s28
s29
s30
s31
s32
timestamp_ms
temperature
humidity
sensor_module_id
run_name
trial_id
dataset
session_id
trial_state
label

In [24]:
from sklearn.utils import shuffle
# df = shuffle(df)
df['label'].value_counts(dropna=False)

fresh       3667
moldy       3497
humidity    1749
NaN         1570
Name: label, dtype: int64

In [21]:
df.head(1)

,seconds,frequency,s1,s2,s3,s4,s5,s6,s7,s8,...,timestamp_ms,temperature,humidity,sensor_module_id,run_name,trial_id,dataset,session_id,trial_state,label
0,0.0,1.0,12006,87622,29083,44918,218168,19661,133197,68084,...,2022-11-15T11:02:01.129000-05:00,25.35,32.75,100360_9606_705204,20221115_1101_agritech_bfusmalljarfresh_3_1trials,1,IAF-AGRITECH-BFUSMALLJARFRESH,98ac827f-5b28-4e6a-8d67-3ab183a7cebe,baseline,fresh

In [146]:
import re
features = [i for i in df if re.findall("\As\d", i)]
features.append('label')
print(features)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20', 's21', 's22', 's23', 's24', 's25', 's26', 's27', 's28', 's29', 's30', 's31', 's32', 'label']

In [147]:
df = df[features] # Thanks Pegah :)

In [148]:
df.head(1)

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,s24,s25,s26,s27,s28,s29,s30,s31,s32,label
60,12323,98698,29355,54527,221544,20425,134975,69108,194479,90420,...,10153,30383,271130,45634,80918,254386,55041,409449,244339,moldy

In [150]:
import tensorflow as tf
labels = df['label'].unique().tolist()
print(labels)
# df = df.dropna()

['moldy', 'humidity', 'fresh', nan]

In [151]:
# labe = tf.keras.utils.to_categorical()
# print(labe)

def label_encoder(y_train):
    y_train_int = []
    for i in y_train:
        if i=="humidity":
            y_train_int.append(3)
        elif i=="fresh":
            y_train_int.append(2)
        elif i=="moldy":
            y_train_int.append(1)
        else:
            y_train_int.append(0)
    y_train = y_train_int
    return y_train

df['label'] = label_encoder(df['label'])

In [152]:
df.head()

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,s24,s25,s26,s27,s28,s29,s30,s31,s32,label
60,12323,98698,29355,54527,221544,20425,134975,69108,194479,90420,...,10153,30383,271130,45634,80918,254386,55041,409449,244339,1
2,12068,89317,29092,45157,218590,19760,133550,68209,191021,85004,...,6650,28230,260680,39614,40128,218620,31612,406379,240356,3
146,12153,91811,29218,47215,219386,19922,133854,68420,191625,86316,...,6748,28591,262457,40936,43600,225526,33523,407368,240823,3
149,12157,91834,29217,47215,219299,19914,133850,68444,191606,86302,...,6744,28591,262395,40955,43584,225442,33512,407120,241046,3
91,12087,90284,29112,48596,218969,19881,133409,68199,191786,86381,...,6992,28706,262462,40066,44350,221863,34703,406458,241014,3

In [153]:
import numpy as np
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df,test_size=0.2)

X_train, X_test = df_train.drop(columns='label'), df_test.drop(columns='label')
X_train, X_test = np.asarray(X_train), np.asarray(X_test)

train_label, test_label = df_train['label'], df_test['label']

In [154]:
from sklearn.preprocessing import MinMaxScaler
norm = MinMaxScaler().fit(X_train)
X_train = norm.transform(X_train)
X_test  = norm.transform(X_test)

In [155]:
from sklearn.svm import LinearSVC
from sklearn import metrics

LSVM = LinearSVC(random_state=0, penalty='l2')
LSVM.fit(X_train, train_label)
predicted_LSVM = LSVM.predict(X_test)

print('The accuracy score: {:.3f}'.format(metrics.accuracy_score(test_label, predicted_LSVM)))

The accuracy score: 0.629

In [156]:
from sklearn.neighbors import KNeighborsClassifier 

KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(X_train, train_label)
predicted_KNN = KNN.predict(X_test)

print('The accuracy score: {:.3f}'.format(metrics.accuracy_score(test_label, predicted_KNN)))

The accuracy score: 0.977